        body,
        html {
            margin: 0;
            padding: 0;
        }

        #content {
            max-width: 960px;
            margin: 0 auto;
        }

        .video-item {
            display: block;
            float: left;
            width: 50%;
        }

        .video-item a {
            text-decoration: none;
            color: black;
        }

        .video-item a:hover {
            text-decoration: underline;
            opacity: 0.7;
        }

        .video-item img,
        .video-item p,
        .video-item h2 {
            width: 100%;
            height: auto;
        }

        .video-item .content {
            padding: 5px;
        }

        h1 {
            text-align: center;
        }

        h2 {
            font-size: 20px;
        }